<div class='expanded row'>
  <div class='large-2 columns'>
    <a href='/'>Guild On</a>
  </div>
  <div class='large-8 columns'>
    <ul class='menu'>
      <% upper_menu_node.each do |menu| %>
        <li><a href='<%= menu[:link] %>'><%= menu[:menu_name] %></a></li>
      <% end %>
    </ul>
  </div>
  <div class='large-2 columns'>
    <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to 'Logout', '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
