<h1>Guild List</h1>

<table>
  <tr>
    <th>guild_name</th>
    <th>guild_master</th>
    <th colspan='3'></th>
  </tr>

  <% @guilds.each do |guild| %>
    <tr>
      <td><%= guild.guild_name %></td>
      <td><%= guild.guild_master %></td>
      <td><%= link_to 'Show', guild_path(guild) %></td>
      <% if current_user && current_user.admin? %>
      <td><%= link_to 'Edit', edit_guild_path(guild) %></td>
      <td><%= link_to 'Delete', guild_path(guild),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
