<%= form_for @guild_board, url: guild_guild_board_path(guild, @guild_board) do |f| %>
  <% if @guild_board.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@guild_board.errors.count, 'error') %> prohibited
        this write from being saved:
      </h2>
      <ul>
        <% @guild_board.errors.full_messages.each do |msg| %>
          <li><%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :content %><br>
  <%= f.text_field :content %>
  </p>

  <p>
    <button class='button hollow' type='submit' name='commit'>Update</button>
  </p>
<% end %>
