<h1>BBS</h1>

<% if current_user %>
  <%= link_to 'Write', new_guild_guild_board_path %>
<% end %>
<div class='large-8'>
  <div class='row'>
    <table>
      <tr>
        <th>no</th>
        <th>title</th>
        <th>author</th>
      </tr>

      <% @guild_boards.each do |guild_board| %>
        <tr>
          <td><%= guild_board.id %></td>
          <td><%= link_to guild_board.title, guild_guild_board_path(guild, guild_board) %></td>
          <td><%= guild_board.author %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='row'>
    <%= will_paginate @guild_boards, renderer: FoundationPagination::Rails, class: 'text-center' %>
  </div>
</div>
