<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='top-bar'>
      <%= render 'layouts/menus/upper_menu' %>
    </div>

    <div class='expanded row sticky-container' data-sticky-container>
      <div class='large-2 columns' data-sticky data-anchor='main_content'>
        <%= render 'layouts/menus/left_menu' %>
      </div>

      <div class='large-10 columns' id='main_content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
